<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/_header %>
    <style>
      .longURL {
        color:blue;
      }
      .delButton {
        -webkit-border-radius: 11;
        -moz-border-radius: 11;
        border-radius: 11px;
        font-family: Arial;
        color: #000;
        font-size: 15px;
        background: #fafafa;
        padding: 10px;
        border: solid #dde3e6 1px;
        text-decoration: none;
        display: inline-flex;
        align-items: center; 
        text-align: right; 
      }
    </style>
</head>
<body>
  <table>
    <% Object.entries(urls).forEach(url => { %>
      <tr>
        <td><%=url[0]%></td>
        <td>&rarr;</td>
        <td class="longURL"><%=url[1]%></td>
        <form method="POST" action="/urls/<%=url[0]%>/delete" id="form<%=url[0]%>"></form>
        <td><button class="delButton" form="form<%=url[0]%>">Delete&emsp;<img src="/public/trash.png" height="30" width="30"></button></td>
      </tr>
    <%});%>
  </table>
  <br>
  <a href="" target="_blank">Shorten a new URL</a>
</body>
</html>
